################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeleteBinObj/obj
/DeleteBinObj/bin
/.vs