################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodeSweep/v16
/BuildTask/bin
/BuildTask/obj
/Scanner/bin
/Scanner/obj
/Utilities/bin
/Utilities/obj
/VsPackage/bin
/VsPackage/obj
